.index-container {
  margin: 16px 56px;
}

.decks-banner {
  border: 3px solid black;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.decks-banner h1 {
  font-size: 1.5rem;
  flex-grow: 1;
  line-height: 1.5rem;
  max-height: 3rem;
  margin-bottom: 0;
}

.decks-btn {
  margin-right: 1rem;
  flex-grow: 1;
}

.decks-btn .main-btn {
  font-size: 1.3rem;
}

.decks-line {
  width: 72%;
  margin-right: 2rem;
}
 .search-section {
   form {
     display: flex;
     justify-content: space-between;
   }

   select {
    margin: 1rem;
    background-color: white;
    font-size: 1.3rem;
    border: 3px solid black;
    border-radius: 16px;
    height: 56px;
    padding: 8px 1rem;
    width: 14%;
    &:focus-visible {
      outline-offset: 0;
      outline: 0;
     }
   }

   .filters {
     display: flex;
     justify-content: space-between;
     select {
       width: 33%;
     }
   }
 }


// whole card grid------------------------
.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
  column-gap: 0;
}

.cards a {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (min-width: 100px) and (max-width: 440px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 440px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1200px) {
  .decks-line {
    display: none;
  }
}

@media (max-width: 680px) {
  .decks-banner h1 {
    display: none;
  }
  .decks-btn {
    margin-right: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .decks-banner {
    border: none;
  }
}
@media (max-width: 900px) {
  .search-section {
    form {
      display: block;
      width: 100%;
    }
    .search {
      width: 100%;
      margin: 1rem 0;
    }
    .filters {
      width: 100%;
    }
    select {
      width: 100%;
      margin: 1rem 0;
    }
  }
}
