// Specific CSS for your home-page
body {
  background-color: $main-color;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.home-section {
  display: flex;
  align-items: center;
  height: 70vh;
  position: relative;
}

.main-title{
  font-size: 3rem;
}

.home-text {
  width: 50%;
  float: left;
}

.home-text h1 {
  margin: 16px auto;
}
.home-text h2 {
  margin: 16px auto;
}

.home-line {
  width: 72%;
  // overflow: visible;
  position: absolute;
  top: 104px;
  left: 32%;
}

.home-btn {
  display: flex;
  justify-content: space-around;
  top: 391px;
  position: absolute;
  left: 4%;
  width: 30%;
}


.nav-item .avatar {
  border: 3px solid black;
}



.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@media (max-width: 1205px) {
  .home-line {
    display: none;
  }
  .home-text {
    float: none;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .home-line {
    top: 8.5%;
  }

}
