<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@deck, @rating] do |f| %>
        <%= f.input :score, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
