<div class="preview-card">
  <div class="deck-card-container">
    <div class="deck-card-top">
    <div class="dc-top-left">
      <h1 class="deck-title">Preview Question</h1>
    </div>
    </div>
    <div class="deck-card-content">
    <h1>Q.</h1>
      <p class="card-description"><%= @deck.cards[0].question %>?</p>
    </div>
    <div class="deck-card-bottom">
      <div class="deck-cats"><%= "#{@deck.cards.find_index}/ #{@deck.cards.count}" %></div>

    </div>
  </div>
</div>
