<div class="container">
  <div class="home-section">
    <div class="home-text">
      <h1 class="main-title">Learn Better</h1>
      <h2 class="second-title">Simple smart flashcards that help you learn more, faster, better.</h2>
    </div>
    <div class="home-btn">
      <%= link_to "Start Learning", decks_path, class: "main-btn", id: "main-btn-home" %>
    </div>
    <div class="home-line">
      <svg viewBox="0 0 1076 429" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="path" d="M1059 1C1063.17 79.8333 1047.8 228.3 953 191.5C834.5 145.5 802.5 31.5 659.5 58.5C516.5 85.5 515.5 277.5 445 310C385.857 337.265 310.528 272.043 365.5 245C427.5 214.5 604.862 244.031 547.5 296C489 349 203 414.5 7.5 419V414.5L3 419L7.5 424V420"stroke="black" stroke-width="3" pathLength="1"/>
      </svg>
    </div>
  </div>
  <div class="home-section-b">
    <div class="home-cards">
        <div class="home-card">
          <div class="home-image">
            <%# <i class="fa-light fa-hammer home-icon"></i> %>
            <span class="material-symbols-outlined home-icon">add_circle</span>            <%# <img src="../../assets/create.png" alt="Create button" > %>
          </div>
          <h5>Boost your memory by creating simple flashcard decks</h5>
        </div>
        <div class="home-card">
          <div class="home-image">
            <span class="material-symbols-outlined home-icon">Search</span>
            <%# <img src="../../assets/search.png" alt="Search bar" > %>
          </div>
          <h5>Browse our catalogue of flashcard decks created by other learners</h5>
        </div>
        <div class="home-card">
          <div class="home-image">
            <span class="material-symbols-outlined home-icon">share</span>            <%# <img src="../../assets/share.png" alt="Share button" > %>
          </div>
          <h5>Share your decks with your friends, and help them learn better!</h5>
        </div>
    </div>
  </div>
</div>
