<div class="container">
  <div class="home-section">
    <div class="home-text">
      <h1 class="main-title">Learn Better</h1>
      <h2 class="second-title">Simple smart flashcards that help you learn more, faster, better.</h2>
      <div class="home-btn">
        <button class="main-btn">Start Learning</button>
      </div>
    </div>
    <div class="home-line">
      <svg viewBox="0 0 1076 429" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="path" d="M1059 1C1063.17 79.8333 1047.8 228.3 953 191.5C834.5 145.5 802.5 31.5 659.5 58.5C516.5 85.5 515.5 277.5 445 310C385.857 337.265 310.528 272.043 365.5 245C427.5 214.5 604.862 244.031 547.5 296C489 349 203 414.5 7.5 419V414.5L3 419L7.5 424V420"stroke="black" stroke-width="3" pathLength="1"/>
      </svg>

    </div>
  </div>
</div>




      <%# <svg viewBox="0 0 1103 441" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_3_2)">
      <path d="M1084.91 3.0348C1084.34 2.43507 1084.37 1.4856 1084.97 0.914096C1085.56 0.342591 1086.51 0.365471 1087.09 0.9652L1084.91 3.0348ZM4 425L18.313 415.246L19.6036 432.518L4 425ZM1087.09 0.9652C1092.45 6.59933 1095.83 15.5056 1097.43 26.25C1099.04 37.0301 1098.89 49.8399 1097.04 63.4786C1093.34 90.7482 1082.83 121.54 1065.71 146.347C1048.59 171.157 1024.77 190.123 994.443 193.354C964.122 196.585 927.704 184.042 885.498 146.708L887.486 144.461C929.337 181.481 964.949 193.48 994.125 190.371C1023.3 187.262 1046.43 169.006 1063.24 144.644C1080.05 120.279 1090.42 89.948 1094.07 63.0754C1095.89 49.643 1096.02 37.1267 1094.47 26.6924C1092.91 16.2223 1089.67 8.02567 1084.91 3.0348L1087.09 0.9652ZM885.498 146.708C801.806 72.6754 699.97 54.5364 619.715 78.3249C539.496 102.103 480.836 167.735 483.112 261.536L480.113 261.608C477.8 166.275 537.523 99.5586 618.862 75.4486C700.166 51.3492 803.064 69.7831 887.486 144.461L885.498 146.708ZM483.112 261.536C483.688 285.275 480.666 301.467 475.253 311.736C472.536 316.891 469.196 320.589 465.376 322.97C461.551 325.355 457.325 326.369 452.924 326.276C444.178 326.092 434.752 321.547 426.07 314.77C417.358 307.97 409.231 298.798 403.066 289.07C396.912 279.358 392.64 268.976 391.777 259.748C390.909 250.478 393.489 242.169 401.284 237.149C408.945 232.214 421.293 230.706 439.374 233.99C457.507 237.282 481.673 245.442 513.229 260.213L511.957 262.93C480.519 248.215 456.615 240.17 438.838 236.941C421.008 233.703 409.604 235.358 402.909 239.671C396.346 243.897 393.964 250.921 394.763 259.469C395.567 268.06 399.592 277.983 405.6 287.464C411.598 296.928 419.499 305.836 427.916 312.405C436.363 318.999 445.167 323.112 452.987 323.277C456.868 323.358 460.509 322.469 463.789 320.424C467.075 318.376 470.08 315.116 472.599 310.337C477.66 300.737 480.684 285.153 480.113 261.608L483.112 261.536ZM513.229 260.213C527.869 267.066 539.195 273.699 547.509 280.127C555.812 286.546 561.204 292.832 563.834 299.023C566.491 305.279 566.288 311.351 563.566 317.134C560.874 322.853 555.763 328.202 548.762 333.224C534.766 343.265 512.751 352.319 485.576 360.483C458.367 368.658 425.849 375.978 390.747 382.496C250.359 408.562 68.1714 421.869 17.5837 425.489L17.3696 422.497C67.9761 418.875 250.001 405.577 390.199 379.546C425.244 373.039 457.646 365.742 484.713 357.61C511.815 349.468 533.435 340.527 547.014 330.787C553.8 325.918 558.463 320.931 560.851 315.856C563.21 310.844 563.396 305.664 561.073 300.196C558.723 294.664 553.767 288.757 545.674 282.501C537.594 276.254 526.48 269.729 511.957 262.93L513.229 260.213Z" fill="black"/>
      </g>
      <defs>
      <filter id="filter0_d_3_2" x="0" y="0.5" width="1102.54" height="440.018" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_2"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_2" result="shape"/>
      </filter>
      </defs>
      </svg> %>
