.carousel-inner {
  display: flex;
  justify-content: center;
  padding-right: 150px;
}

// .carousel-control-prev {
//   content: 'Previous Card';
// }

// .carousel-control-next {
//   content: 'Next Card';
// }
