.preview-card {
  width: 90%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border: 1.77px solid black;
  border-radius: 16px;
  margin: 16px;
  padding: 8px 16px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.02);
    }
h1 {
  font-size: 1rem;
}
}

.preview-title {
  font-size: 1.5rem;
  text-align: center;
}

.preview-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.preview-card-content {
  padding: 1rem;
}
