.profile-name {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 16px;
  }
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
}

.profile-button {
  display: block;
  width: 100%;
  text-align: center;
}

.cards-container {
  display: flex;
  width: fit-content;
  overflow-x: auto;
  margin-left: 10px;
}
