
.scene {
  width: 488px;
  height: 300px;
  // border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 1000px;
}

.flash-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flash-card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  // line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

.card__face--front {
  background-color: white;
  border: 3px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
}

.card__face--back {
  background-color: white;
  border: 3px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 12px;
}

.fc-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 100%;
  width: 100%;
}

.fc-header {
  font-size: 1.5rem;
  font-weight: 700;
}

.fc-qa {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify
}

.fc-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .counter {
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
  .flip-image {
    img {
    width: 70%;
    vertical-align: left !important;
    cursor: pointer;
    }
  }
}

.control {
  color: black;
}


.correct, .incorrect {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.77px solid black;
  font-size: 0.8rem;
  height: 80px;
  width: 80px;
  word-wrap: break-word;
  cursor: pointer;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  p {
    margin: 0;
  }
  &:hover {
    transform: scale(1.1);
  }
  .dont-after {
    font-size: 2rem;
  }
  .know-after {
    font-size: 2rem;
  }

}


.hidden {
  display: none !important;
}
