.search {
  margin: 1rem;
  background-color: white;
  font-size: 1.3rem;
  border: 3px solid black;
  border-radius: 16px;
  height: 56px;
  padding: 8px 1rem;
  display: flex;
  width: 50%;
}

.search form {
  width: 100%
}

.search-input {
  width: 95%;
  flex-grow: 1;
  border: none;
  margin-left: 1rem;
  &:focus-visible {
    outline-offset: 0;
    outline: 0;
   }
}
