.stats-card {
  width: 90%;
  height: 150px;
  background-color: transparent;
  border: 1.77px solid black;
  border-radius: 16px;
  margin: 16px;
  padding: 8px 16px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.02);
    }
  .deck-card-content {
    display:flex;
    justify-content: space-around;
  }
}

.stats-num {
  background-color: transparent;
  min-width: 25%;
  max-width: 35%;
  font-size: 2rem;
  height: 2rem;
  overflow: hidden;
  color: black;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
