<div class="cards-container">
  <div class="cards">
    <% @decks.each do |deck| %>
      <%= link_to deck_path(deck) do %>
        <%= render 'shared/deck_card', deck: deck %>
      <% end %>
    <% end %>
  </div>
</div><%# creating deck_card %>
